//
// Copyright 1995-2014 by Rebecca Ann Heineman becky@burgerbecky.com
//
// It is released under an MIT Open Source license. Please see LICENSE
// for license details. Yes, you can use it in a
// commercial title without paying anything, just give me a credit.
// Please? It's not like I'm asking you for money!.
//

// Include all the common settings

#include "burger.commonxcoosx.xcconfig"

// Library specific data

// Libraries build all versions
ONLY_ACTIVE_ARCH = NO

// Build a static library
MACH_O_TYPE = staticlib

// Static libraries don't prebind
PREBINDING = NO

// Final filename with unique extension

FINAL_OUTPUT = $(EXECUTABLE_PREFIX)$(PRODUCT_NAME)$(SUFFIX).$(EXECUTABLE_EXTENSION);
